In [6]:
import pandas as pd
import pandera as pa

In [18]:
valores_ausentes = ['***','****','*****','###!','####','NULL']
df = pd.read_csv("ocorrencia.csv", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
5,39807,39807,INCIDENTE,SALVADOR,BA,NaN,2010-01-06,17:53:00,0.0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0.0
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3.0
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2.0
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,2010-01-10,20:00:00,0.0

In [23]:
schema = pa.DataFrameSchema(
    columns={
        "codigo": pa.Column(pa.Int, required=False),
        "codigo_ocorrencia":pa.Column(pa.Int),
        
        "codigo_ocorrencia1":pa.Column(pa.Int),
        
        "ocorrencia_classificacao":pa.Column(pa.String),
        
        "ocorrencia_cidade":pa.Column(pa.String, nullable=True),
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_aerodromo":pa.Column(pa.String, nullable=True),
        "ocorrencia_dia":pa.Column(pa.DateTime, nullable=True),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes":pa.Column(pa.Float, nullable=True)
        
    }
)

In [25]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0.0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0.0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0.0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,NaN,2021-08-18,16:00:00,0.0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0.0

In [28]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia1                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                float64
dtype: object

In [30]:
df.loc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia1                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                         0.0
Name: 1, dtype: object

In [32]:
df.iloc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia1                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                         0.0
Name: 1, dtype: object

In [35]:
df.iloc[-1]

codigo_ocorrencia                         80259
codigo_ocorrencia1                        80259
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                      CAMPINAS
ocorrencia_uf                                SP
ocorrencia_aerodromo                       SBKP
ocorrencia_dia              2021-08-18 00:00:00
ocorrencia_hora                        12:45:00
total_recomendacoes                         0.0
Name: 6113, dtype: object

In [37]:
#Busca pelo ínfice
df.iloc[10:15]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,NaN,2010-01-10,21:30:00,0.0
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8.0
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0.0
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,2010-01-11,17:00:00,2.0
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12,14:30:00,0.0

In [41]:
#Busca pelo LABEL
df.loc[10:15]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,NaN,2010-01-10,21:30:00,0.0
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8.0
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0.0
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,2010-01-11,17:00:00,2.0
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12,14:30:00,0.0
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,0.0

In [44]:
#Buscar dados de uma coluna
df.loc[:,'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
6109    PE
6110    RO
6111    PA
6112    MT
6113    SP
Name: ocorrencia_uf, Length: 6114, dtype: object

In [47]:
#Buscar dados de uma coluna
#mesmo de cima, uma forma mais prática
df['ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
6109    PE
6110    RO
6111    PA
6112    MT
6113    SP
Name: ocorrencia_uf, Length: 6114, dtype: object

In [52]:
#Manipulação de valores Na/NaN
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia1             0
ocorrencia_classificacao       0
ocorrencia_cidade             21
ocorrencia_uf                 21
ocorrencia_aerodromo        2466
ocorrencia_dia                21
ocorrencia_hora               22
total_recomendacoes           21
dtype: int64

In [55]:
#Manipulação de valores NULL
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia1             0
ocorrencia_classificacao       0
ocorrencia_cidade             21
ocorrencia_uf                 21
ocorrencia_aerodromo        2466
ocorrencia_dia                21
ocorrencia_hora               22
total_recomendacoes           21
dtype: int64

In [61]:
#Procurando ocorrências com valor de UF = NULL
#df.loc[df.ocorrencia_uf.isnull()]

#OUTRA FORMA
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2922,52697,52697,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
2989,52948,52948,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4461,79567,79567,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4493,78035,78035,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4702,78324,78324,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5473,79385,79385,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5514,79445,79445,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5544,79481,79481,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5624,79582,79582,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5665,79663,79663,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5736,79799,79799,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5752,79844,79844,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5776,79820,79820,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5883,79973,79973,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5884,79981,79981,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5892,79982,79982,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5893,79983,79983,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5903,80001,80001,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5921,80031,80031,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
6015,80132,80132,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
6017,80131,80131,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN

In [63]:
#Procurando ocorrências com valor de hHORA = NULL
filtro = df.ocorrencia_hora.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2922,52697,52697,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
2989,52948,52948,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4102,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,0.0
4461,79567,79567,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
4493,78035,78035,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
4702,78324,78324,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5473,79385,79385,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5514,79445,79445,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5544,79481,79481,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5624,79582,79582,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5665,79663,79663,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
5736,79799,79799,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5752,79844,79844,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5776,79820,79820,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5883,79973,79973,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5884,79981,79981,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5892,79982,79982,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5893,79983,79983,ACIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5903,80001,80001,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN
5921,80031,80031,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
6015,80132,80132,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN
6017,80131,80131,INCIDENTE GRAVE,NaN,NaN,NaN,NaT,NaN,NaN

In [65]:
df.count()

codigo_ocorrencia           6114
codigo_ocorrencia1          6114
ocorrencia_classificacao    6114
ocorrencia_cidade           6093
ocorrencia_uf               6093
ocorrencia_aerodromo        3648
ocorrencia_dia              6093
ocorrencia_hora             6092
total_recomendacoes         6093
dtype: int64

In [69]:
#Filtramdp ocorrências com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade','total_recomendacoes']]

         ocorrencia_cidade  total_recomendacoes
63               SÃO PAULO                 11.0
326         RIO DE JANEIRO                 19.0
530              SÃO PAULO                 11.0
727               ITÁPOLIS                 11.0
872                 RECIFE                 23.0
884   SÃO JOSÉ DOS PINHAIS                 11.0
1062            UBERLÂNDIA                 20.0
1972              BRASÍLIA                 11.0
2797                SANTOS                 13.0
3932               VITÓRIA                 12.0

In [74]:
#filtrando ocorrências cuja classificação = INCIDENTE GRAVE
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro, ['ocorrencia_cidade','ocorrencia_uf']]

     ocorrencia_cidade ocorrencia_uf
7             CANUTAMA            AM
8             CASCAVEL            PR
9        PARÁ DE MINAS            MG
29            CURITIBA            PR
35              PALMAS            TO
...                ...           ...
6090             MARAÚ            BA
6095   ELDORADO DO SUL            RS
6097     CAXIAS DO SUL            RS
6098   CHAPADÃO DO SUL            MS
6104       VOTUPORANGA            SP

[791 rows x 2 columns]

In [78]:
#filtrando ocorrências cuja classificação == INCIDENTE GRAVE e o ESTADO == SP
filtroClassificacao = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtroUF = df.ocorrencia_UF == 'SP'
df.loc[filtroClassificacao &  filtroUF]

AttributeError: 'DataFrame' object has no attribute 'ocorrencia_UF'