In [1]:
import pandas as pd
import pandera as pa

In [2]:
df = pd.read_csv("ocorrencia.csv", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia1,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
5,39807,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06,17:53:00,0.0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0.0
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09,12:30:00,3.0
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2.0
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10,20:00:00,0.0

In [3]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia1                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                float64
dtype: object

In [4]:
df.ocorrencia_dia.dt.month

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
6109    8.0
6110    8.0
6111    8.0
6112    8.0
6113    8.0
Name: ocorrencia_dia, Length: 6114, dtype: float64

In [11]:
schema = pa.DataFrameSchema(
    columns={
        
        "codigo_ocorrencia":pa.Column(pa.Int)
        
    }
)

In [10]:
schema.validate(df)

SchemaError: column 'codigo_ocorrenci' not in dataframe
   codigo_ocorrencia  codigo_ocorrencia1 ocorrencia_classificacao  \
0              40211               40211                INCIDENTE
1              40349               40349                INCIDENTE
2              40351               40351                INCIDENTE
3              39527               39527                 ACIDENTE
4              40324               40324                INCIDENTE

    ocorrencia_cidade ocorrencia_uf ocorrencia_aerodromo ocorrencia_dia  \
0      RIO DE JANEIRO            RJ                 ****     2010-01-03
1               BELÉM            PA                 SBBE     2010-01-03
2      RIO DE JANEIRO            RJ                 SBRJ     2010-01-03
3  LUCAS DO RIO VERDE            MT                 ****     2010-01-04
4             PELOTAS            RS                 SBPK     2010-01-05

  ocorrencia_hora  total_recomendacoes
0        12:00:00                  0.0
1        11:05:00                  0.0
2        03:00:00                  0.0
3        17:30:00                  0.0
4        19:25:00                  0.0